
.bg_000 {
  background: #000;
}

.bg_fff {
  background: #fff;
}

.bg_ebebeb {
  background: #EBEBEB;
}

.bg_e2e6e8 {
  background: #E2E6E8;
}

.bg_253f71 {
  background: #253F71;
}

.bg_f5f5f5 {
  background: #f5f5f5;
}

.bg_006aff {
  background: #006AFF;
}

/*.bg_256aff {*/
/*  background: #256AFF;*/
/*}*/

.bg_7289b5 {
  background: #7289B533;
}

.c_b7c5df {
  color: #B7C5DF;
}



.b_aeaeae {
  border: 1px solid #AEAEAE;
}

.b_e2e6e8 {
  border: 1px solid #E2E6E8;
}

.b_fff {
  border: 1px solid #FFF;
}



.c_000 {
  color: #000000;
}

.c_fff {
  color: #ffffff;
}

.c_747474 {
  color: #747474;
}

.c_424242 {
  color: #424242;
}

.c_212121 {
  color: #212121;
}

.c_004ea1 {
  color: #004EA1;
}

.c_aeaeae {
  color: #AEAEAE;
}

.c_006aff {
  color: #006AFF;
}

.c_ff0000{
  color: #ff0000;
}